.header {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.leftSection {
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin-left: -10px;
    gap: 16px;
    color: var(--color-light-secondary);
}

.breadcrumbs span {
    padding: 6px 10px;
    border-radius: var(--border-radius-medium);
    transition-duration: var(--transition-duration);
}

.isActive {
    color: var(--color-light);
    background-color: var(--color-gray-light);
}

.breadcrumbs span:hover {
    color: var(--color-light);
    background-color: var(--color-gray-light);
    cursor: pointer;
}

.breadcrumbs :not(span) {
    pointer-events: none;
}

.rightSection {
}

.searchWrapper {
}
